h1 {
	color: green;
	font-size: 200%;
	font-weight: bold;

}

body {
	background: blue;
	color: red;
	font-size: 16pt;
	font-family: 'Josefin Sans', sans-serif;
	}


nav li {
	display: inline-block;
	border: 2px solid black;
	background: white;
	padding: 10px
	margin: 5px
}
